.card {
  padding: 1em;
  border: 1px solid #eee;
  background: white!important;
  margin: 1em auto;
  max-width: 30em;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  background-color: #5DC8FB;
}
