
.goal {
  .tracker h3 {
    margin: 0.5em 0;
  }

  .week {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .day {
    background: #eee;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.25em;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.25em;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.1em;
  }

  .day.m-0 {
    background: #eee;
  }

  .day.m-1 {
    background: green;
    color: white;
  }

  .day.m-2 {
    background: blue;
    color: white;
  }

  .actions {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
  }

  .action {
    display: inline-block;
    border: 1px solid #eee;
    flex-grow: 1;
    text-align: center;
  }

  .action:hover {
    background: #eee;
  }

  .action a {
    padding: 1em;
    display: block;
    text-decoration: none;
  }

  .action.index-0 a:hover {
    background: green;
    color: white;
  }

  .action.index-2 a:hover {
    background: red;
    color: white;
  }

}
